@font-face {
  font-family: "SpaceGro";
  src: url("./fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/orbitron/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
